.footer_box{
    background-color: #222222;
}

.footer_top {
    margin-left: 46px;
}

.footer_top_logo{
    padding-top: 42px;
    margin-bottom: 14px;
}

.footer_top_logo--item {
    display: block;
    background-image: url(../images/icons/goiteens_logo.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 108px;
    height: 30px;
}

.footer_top_adress,
.footer_top_contacts{
    @include font(14px, 20px,400);
    color: rgb(150, 153, 166);
    font-family: $main-font;
    margin-bottom: 30px;
}

.footer_top_task{
    margin-bottom: 34px;
}

.footer_top_task--btn{
    border-style: none;
    border-radius: 5px;
    padding: 12px;
    background-color: #e9ac38;
    box-shadow: 0px 3px 5px 0px rgba(233, 172, 56, 0.4);
    @include font(16px,16px,700);
    color: rgb(246, 249, 250);
    font-family: $secondary-font;
}

.footer_top_task--btn:hover{
    background-color: rgb(220, 145, 41);
    box-shadow: 0px 3px 5px 0px rgba(233, 172, 56, 0.4);
    border-radius: 5px;
}

.footer_top_task--btn:focus{
    background-color: rgb(220, 145, 41);
    box-shadow: 0px 3px 5px 0px rgba(233, 172, 56, 0.4);
    border-radius: 5px;
}

.footer_social_media--list{
    display: flex;
    padding-bottom: 32px;
}

.footer_social_media--item{
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 16px;
}

.footer_social_media--telegram{
    background-color: #6398e0;
    background-image: url(../images/icons/telegram.svg);
    background-position: center;
    background-repeat: no-repeat;
}

.footer_social_media--telegram:hover{
    background-color: #e9ac38;
    border: solid 2px #ffffff;
}

.footer_social_media--telegram:focus{
    background-color: #e9ac38;
    border: solid 2px #ffffff;
}

.footer_social_media--youtube{
    background-color: #9f2431;
    background-image: url(../images/icons/youtube_icon.svg);
    background-position: center;
    background-repeat: no-repeat;
}

.footer_social_media--youtube:hover{
    background-color: #e9ac38;
    border: solid 2px #ffffff;
}

.footer_social_media--youtube:focus{
    background-color: #e9ac38;
    border: solid 2px #ffffff;
}

.footer_social_media--facebook{
    background-color: #3b4e70;
    background-image: url(../images/icons/facebook-logo.svg);
    background-position: center;
    background-repeat: no-repeat;
}

.footer_social_media--facebook:hover{
    background-color: #e9ac38;
    border: solid 2px #ffffff;
}

.footer_social_media--facebook:focus{
    background-color: #e9ac38;
    border: solid 2px #ffffff;
}

.footer_bottom{
    background-color: #111;
}

.footer_bottom_box{
    margin-left: 46px;
    @include font(12px,24px,400);
    font-family: $secondary-font;
    padding-top: 14px;
    padding-bottom: 14px;
}

.footer_bottom_box a{
    color: rgb(98, 98, 99);
}

.footer_bottom_box a:hover{
    color: rgb(255, 255, 255);
}

.footer_bottom_box a:focus{
    color: rgb(255, 255, 255);
}