.header {
  padding: 16px 0 52px 0;
  text-align: center;
  background-image: url(../images/header_bgrnd.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;

  @media (max-width: 767px) {
    @media (min-resolution: 192dpi) {
      background-image: url(../images/header_bgrnd@2x.jpg);
    }
  }

  @media (min-width: 768px) and (max-width: 1679px) {
    padding: 28px 0 40px 0;
    background-image: url(../images/header_bgrnd_768.jpg);

    @media (min-resolution: 192dpi) {
      background-image: url(../images/header_bgrnd_768@2x.jpg);
    }
  }

  @media (min-width: 1680px) {
    padding: 32px 0 124px 0;
    background-image: url(../images/header_bgrnd_1680.jpg);

    @media (min-resolution: 192dpi) {
      background-image: url(../images/header_bgrnd_1680@2x.jpg);
    }
  }

  &-main {
    @media (min-width: 768px) {
      width: 690px;
    }

    @media (min-width: 1680px) {
      width: 1580px;
    }
  }

  &__title {
    @include font(35px, 60px, 800);

    font-family: $secondary-font;
    letter-spacing: 0.875px;
    margin-bottom: 12px;
    color: #ffffff;

    @media (min-width: 768px) {
      @include font(45px, 60px, 800);
      letter-spacing: 1.125px;
      margin-bottom: 12px;
    }

    @media (min-width: 1680px) {
      @include font(65px, 65px, 800);
      letter-spacing: 1.625px;
      margin-bottom: 50px;
    }

    &--description {
      @include font(16px, 22px, 400);

      letter-spacing: 0.8px;
      padding-top: 4px;
      color: #ffffff;
      background-color: rgba(22, 24, 32, 0.678);
      width: 281px;
      height: 55px;
      margin-bottom: 62px;

      @media (min-width: 768px) {
        @include font(27px, 32px, 400);

        padding: 0;
        letter-spacing: 1.35px;
        width: 444px;
        height: 64px;
        margin: 0 auto 26px;
      }

      @media (min-width: 1680px) {
        @include font(25px, 35px, 400);

        position: relative;
        padding-top: 15px;
        letter-spacing: 1.35px;
        width: 491px;
        height: 100px;
        margin: 0 auto;

        &::before {
          position: absolute;
          top: 15px;
          left: 34px;
          display: block;
          content: '';
          //   margin-top: 4px;
          width: 2px;
          height: 70px;
          transition: all 0.2s linear;
          background-color: #fcae26;
        }
      }
    }

    &--description-span {
      color: #e9ac38;
    }
  }

  &__scroll-down {
    display: block;
    margin: 0 auto;
    width: 12px;
    height: 18px;
    border: 0;
    background-color: transparent;
    background-image: url(../images/icons/scroll_down.png);

    @media (min-width: 1680px) {
      display: none;
    }
  }

  &__burger-btn {
    border: 0;
    background-color: transparent;
    background-position: center;
    background-size: cover;
  }

  &-modal {
    background-color: #824fe3;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    overflow: hidden;

    transition: all 0.3s linear;

    &__wrapper {
      padding-top: 16px;

      display: flex;
      justify-content: space-between;
      margin-bottom: 100px;

      @media (min-width: 768px) {
        padding-top: 28px;
      }
    }
  }
}

.nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 280px;

  @media (min-width: 768px) {
    margin-bottom: 342px;
  }

  @media (min-width: 1680px) {
    margin-bottom: 588px;
  }

  &-ul {
    display: none;

    @media (min-width: 1680px) {
      display: flex;
      align-items: baseline;
    }
  }

  &-li {
    &:not(:last-child) {
      margin-right: 40px;
    }

    &__link {
      @include font(18px, 30px, 700);

      display: inline-block;
      color: #ffffff;
      letter-spacing: 1px;

      &:hover::after {
        opacity: 1;
      }

      &::after {
        display: block;
        content: '';
        margin-top: 4px;
        width: auto;
        height: 2px;
        transition: all 0.2s linear;
        background-color: #fcae26;
        opacity: 0;
      }
    }
  }
}

.modal-nav {
  @media (min-width: 768px) {
    width: 690px;
  }

  @media (min-width: 1680px) {
    width: 1580px;
  }
}

.modal-ul {
  margin-bottom: 50px;
}

.modal-li {
  margin-bottom: 10px;

  &__link {
    @include font(28px, 30px, 700);

    display: inline-block;
    color: #ffffff;
    letter-spacing: 2px;

    &:hover::after {
      opacity: 1;
    }

    &::after {
      display: block;
      content: '';
      margin-top: 4px;
      width: auto;
      height: 2px;
      transition: all 0.2s linear;
      background-color: #fcae26;
      opacity: 0;
    }
  }
}

.modal-btn-request {
  @include font(16px, 42px, 700);
  font-family: $secondary-font;
  color: #f6f9fa;
  background-color: #fcae26;
  border: 0;
  border-radius: 5px;
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.2);
  width: 192px;
  height: 42px;
}

.site-logo {
  background-image: url(../images/icons/goiteens_logo.svg);
  background-repeat: no-repeat;
  width: 106px;
  height: 28px;
  display: inline-block;
}

.icon--open {
  width: 28px;
  height: 19px;
  background-image: url(../images/icons/burger.png);

  @media (min-resolution: 192dpi) {
    background-image: url(../images/icons/burger@2x.png);
  }

  @media (min-width: 1680px) {
    display: none;
  }
}

.icon--close {
  width: 22px;
  height: 22px;
  background-image: url(../images/icons/burger_close.png);

  @media (min-resolution: 192dpi) {
    background-image: url(../images/icons/burger_close@2x.png);
  }
}
