.structure_header--title::before{
    content: '';
    display: inline-block;
    background-image: url(../images/icons/title_icons/title_icon_structure1.svg);
    background-position: center;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #e9ac38;
    margin-right: 10px;
    vertical-align: middle;
}

.structure_header--title{
    @include font(20px, 78px, 700);
    text-transform: uppercase;
    font-family: $secondary-font;
}

.structure_info {
    margin-bottom: 60px;
}

.structure_info_list{
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
}

.structure_info_item{
    width: 280px;
    height: 260px;
    background-color: #faebd0;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    box-shadow: 3px 5.196px 18px 0px rgba(0, 0, 0, 0.1);
    margin-bottom: 16px;
}

.structure_info_item:nth-child(2){
    background-color: #fbdcd2;
}

.structure_info_item:nth-child(3){
    background-color: #e2d8f5;
}

.structure_info_item:nth-child(4){
    background-color: #d9f0ef;
}

.structure_info_item:nth-child(n+4){
    margin-bottom: 0;
}

.structure_info_item--wrapper{
    margin: 18px;
    width: 244px;
    height: 226px;
    border-width: 1px;
    border-color: rgb(255, 255, 255);
    border-style: dashed;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

.structure_info_item--text{
    margin: 28px;
}

.structure_info_item--title{
    @include font(26px, 28px, 700);
    font-family: $secondary-font;
    color: rgb(39, 39, 39);
    margin-bottom: 20px;
}

.structure_info_item--subscription{
    @include font(16px, 20px, 400);
    font-family: $main-font;
    color: rgb(70, 70, 70);
    margin-bottom: 20px;
}

@media (min-width: 768px) {
    .structure_header--title::before{
        content: '';
        background-image: url(../images/icons/title_icons/title_icon_structure2.svg);
    }

    .structure_header--title{
        @include font(32px, 78px, 700);
        text-transform: uppercase;
        font-family: $secondary-font;
        margin-bottom: 22px;
    }

    .structure_info {
        margin-bottom: 70px;
    }

    .structure_info_item{
        width: 300px;
        height: 292px;
        margin-bottom: 20px;
    }

    .structure_info_item:nth-child(n+3){
        margin-bottom: 0;
    }

    .structure_info_item--wrapper{
        width: 264px;
        height: 260px;
    }

    .structure_info_item--title{
        @include font(30px, 28px, 700);
    }
 
}

@media (min-width: 1680px) {
    
  }


  